<h3>List</h3>
<table class="table table-hover">
    <tr ui-sref="projects">
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="project in projects">
        <td ><a ui-sref="trs.projects_detail({project_id:{{ project.id }}})">{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.end_date }}</td>
        <td><button class="btn btn-primary" ng-click="open()">Add</button> </td>
        <td><button class="btn btn-danger">Remove</button></td>
    </tr>
</table>
<div ui-view></div>
