{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <base href="/">
        <title>TRS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">

        <!-- 1. Загрузите библиотеки -->
        <script src="{% static 'node_modules/core-js/client/shim.min.js' %}"></script>

        <script src="{% static 'node_modules/zone.js/dist/zone.js' %}"></script>
        <script src="{% static 'node_modules/reflect-metadata/Reflect.js' %}"></script>
        <script src="{% static 'node_modules/systemjs/dist/system.src.js' %}"></script>

        <!-- 2. Настройте SystemJS -->
        <script src="{% static 'systemjs.config.js' %}"></script>
        <script>
          System.import('app').catch(function(err){ console.error(err); });
        </script>

    </head>

    <!-- 3. Отобразите приложение -->
    <body>
        <div class="container">
            <trs-app>Loading...</trs-app>
        </div>
    </body>

</html>