{% extends 'base.html' %}

{% block menu-block %}
{% endblock %}

{% block content-block %}
    <div class="row mt-medium">
        <div class="col-md-offset-4 col-md-4">
            <h1 class="text-center">Sign in</h1>
            <form action="{% url 'users_login' %}" method="POST" id="login">
                {% csrf_token %}
                <input type="hidden" value="{{ next }}" name="next">
                <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                    <input type="text" class="form-control" placeholder="Login" name="username">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <small class="help-block">{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group {% if form.password.errors %} has-error {% endif %}">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <small class="help-block">{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-offset-8 col-md-4">
                        <button class="btn btn-primary btn-sm" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}