html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.margin-left-small {
    margin-left:5px;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
}

#login {
	max-width: 400px;
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
	margin-top:20px;
}

header {
    display: block;
    height: 80px;
}
#login a {
    color: white;
}
.logo, .logo:hover {
    color:white;
    text-decoration:none;
}

.free-bottom {
    margin-bottom: 15px;
}   

.footer-container {
    margin-bottom:-100px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 100px;
}

footer {
	margin: -100px auto 0;
	height: 100px;
	position: relative;
}

hr {
    color: #DDDDDD;
}

.main-color {
    color: #337AB7;
}

.mt-medium {
	margin-top:50px;
}

.black-a {
    color: #000000;
    text-decoration: none;
}
.black-a:hover {
    color: #fff6de;
    text-decoration: none;
}